body{
    color: #1e366a;
}

.c-btn {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    text-decoration: none;
    background: gray;
    cursor: pointer;
}
.p-quiz {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
.p-quiz-ttl {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: normal;
}
.p-quiz-next {
    width: 300px;
    margin: auto;
}

.p-quiz-result {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: bold;
}

