/*radio*/
form {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .radio-inline__input {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important;
  }
  
  .radio-inline__label {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-right: 18px;
      border-radius: 3px;
      transition: all .2s;
  }
  
  .radio-inline__input:checked + .radio-inline__label {
      background: #B54A4A;
      color: #fff;
      text-shadow: 0 0 1px rgba(0,0,0,.7);
  }
  
  .radio-inline__input:focus + .radio-inline__label {
      outline-color: #4D90FE;
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
  }

  /*start btn*/
  .c-btn {
    width: 25em;
}

.p-quiz-body{
    text-align: center;
    width: 100%;
}


/*description*/
#description{
    font-size: 36px;
}

#descriptionSub{
    font-size: 24px;
}

/*title*/
#gameTitle {
    position: relative;
    color: #FF279F;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    margin: 1.5em 0;
  }
#gameTitle:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 150px;
    height: 88px;
    border-radius: 50%;
    border: 5px solid #FF96D7;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul, ol {
    color: black;
    border-top: solid #1e366a 1px;/*上のボーダー*/
    border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
}
  
  ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;

    text-align: left;
    font-size: smaller;
}